#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.doubleColumn {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}

@media (min-width: 800px) {
  .bio {
    display: flex;
  } 
  .bio > .picture {
    max-width: 300px;
    min-width: 300px;
    padding: 3%;
  }
}
.bio {
  display: flexbox;
}
.bio > .picture {
  max-width: 300px;
  min-width: 300px;
  padding: 3%;
  margin: auto;
}
.bio > .text {
  font-size: medium;
  text-align: left;
  padding: 3%;
  display: inline-block;
}
.picOfMe {
  width: 100%;
}

.icons {
  display: flex;
}
.icons > div {
  /* flex: 1; */
  text-align: center;
  display: inline-block;
}

.work {
  text-align: left;
}
.work.title {
  font-size: large;
  color: darkgreen; /* teal, royalblue, slateblue, mediumblue */
} 
/* darkorchid, blueviolet, rebeccapurple, darkmagenta, purple, indigo */
/* crimson, sienna, saddlebrown, firebrick, brown, darkred, maroon */
/* darkgreen */
.work.sub {
  font-size: medium;
}
.work > li {
  text-align: left;
}

.skill.title {
  font-size: large;
  color: darkgreen;
}

/* #nav-bar-custom {
  position: fixed;
  width: 100%;
  z-index: 100;
  display: flex;
  top: 0px;
  background-color: lightgray;
}
#nav-bar-custom > div {
  padding:0.5em 0.5em;
} */